<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { page: 'Home' }) %>
</head>

<body>
    <main>
        <section class="header">
            <audio id="pronounce" src="audio/enobpih.mp3"></audio>
            <span class="title"
                onclick="document.getElementById('pronounce').play()"><b>WEREWOLF<br>COMPANION</span><br>
            <span class='subtitle'>The Discord Bot and Modile App<br>Based Around The Game Werewolf Online</span><br>
            <div class="buttons">
                


                <!--
                    <button class="button youtube" style="background-color: #c4302b"
                    onclick="window.open('/hipbone/youtube')"><span><i class="fab fa-youtube"></i>
                        YouTube</span></button>
                <button class="button discord" style="background-color: #7289da"
                    onclick="window.open('/hipbone/discord')"><span><i class="fab fa-discord"></i>
                        Discord</span></button>
                -->
            </div>
        </section>
    </main>

    <%- include('../css/home') %>
        <%- include('./partials/navbar') %>
</body>

</html>