<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { page: 'Home' }) %>
</head>

<body>
    <main>
        <section class="header">
            <audio id="pronounce" src="audio/enobpih.mp3"></audio>
            <span class="title"
                onclick="document.getElementById('pronounce').play()"><b>WOLVESVILLE<br>COMPANION</span><br>
            <span class='subtitle'>The Discord Bot and Modile App<br>Based Around The Game Wolvesville</span><br>
            <div class="buttons">
            </div>
        </section>
    </main>

    <%- include('../css/home') %>
        <%- include('./partials/navbar') %>
</body>

</html>