<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
<script src="https://kit.fontawesome.com/9088823369.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<%- include('../../css/base.ejs') %>
    <title>
        <%- `${page} - Wolvesville Companion` %>
    </title>