<%- include('../../css/navbar.ejs') %>
    <nav class="navbar">
        <ul class="navbar-items">
            <li class="logo">
                <a class="navbar-link coloured">
                    <span class="link-text logo-text">Werewolf<br>Companion</span>
                    <!--<svg viewBox="0 0 448 512">
                        <g class="fa-group">
                            <path fill="currentColor"
                                d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
                                class="fa-primary" />
                            <path fill="currentColor"
                                d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
                                class="fa-secondary" />
                        </g>
                    </svg>-->
                </a>
            </li>

            <li class="navbar-item">
                <a href="/" class="navbar-link">
                    <i class="fas fa-home"></i><span class="link-text">Home</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="/app" class="navbar-link">
                    &nbsp;<i class="fas fa-mobile"></i>&nbsp;&nbsp;<span class="link-text">App</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="/bot" class="navbar-link">
                    <i class="fas fa-user-astronaut"></i>&nbsp;<span class="link-text">Bot</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="/guild" class="navbar-link">
                    &nbsp;<i class="fas fa-chess-rook"></i>&nbsp;<span class="link-text">Guild</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="/user" class="navbar-link">
                    <i class="fas fa-user"></i>&nbsp;<span class="link-text">User</span>
                </a>
            </li>

            



            <!--
                <li class="navbar-item">
                <a href="/" class="navbar-link">
                    <i class="fas fa-home"></i><span class="link-text">Home</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="/levels" class="navbar-link">
                    <i class="fas fa-layer-group"></i><span class="link-text">App</span>
                </a>
            </li>

            <li class="navbar-item">
                <a href="/user" class="navbar-link">
                    <i class="fas fa-user"></i><span class="link-text">Bot</span>
                </a>
            </li>
            -->

            <li class="navbar-item">
                <% if (!user) { %>
                    <a href="/login" class="navbar-link coloured">
                        <i class="fab fa-discord"></i><span class="link-text">Login</span>
                    </a>
                    <% } else { %>
                        <a href="/logout" class="navbar-link coloured">
                            <% if (user.avatar) { %>
                                <img src="https://cdn.discordapp.com/avatars/<%- `${user.id}/${user.avatar}` %>" />
                                <% } else { %>
                                    <img src="https://enobpih.apteryx.xyz/images/discord.jpg" />
                                    <% } %>
                                        <span class="link-text">Logout</span>
                        </a>
                        <% } %>
            </li>
        </ul>
    </nav>